
  .container  {
    background-color: rgba(255, 255, 255, 0.485);
    border: 3px solid rgb(56, 53, 53);
    text-align: center;
    padding: 20px;
    margin: 20px auto;
    width: 40%;
  }

  .card-img{
    width: 90%;
  }